/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
}

#message p {
  font-size: 15px;
  float: right;
}

#message2 {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
}

#message2 p {
  font-size: 15px;
  float: right;
}


#message3 {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
}

#message3 p {
  font-size: 15px;
  float: right;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  content: "✔";
  right: 5px;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  content: "✖";
  right: 5px;
}